.container{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    margin-bottom: 1em;
}



.form-profile label{
    margin-bottom: .5em;
    font-size: 1.4em;
}

.form-profile input, textarea{
    margin-bottom: 1em;
    padding: .8em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}


.form-profile button{
    max-width: 600px;
}


